// Variables

$darkest-blue: #2B667F;
$dark-blue: #045374;
$medium-blue: #0792CC;
$light-blue: #09B6FF;
$lightest-blue: #55CDFF;

$primary: #F18ABB;
$secondary: #F1C3D1;
$background: #F0EAD6;// #99817E;
$header-text-color: $darkest-blue;
$hover: $primary;
$active: $hover;
$border: #F3D2CA;
