block append footer
    // footer-area
    section.footer-area.section-padd.overflow
      .container
        .row
          .col-md-12
            .footer-content.wow.fadeInUp(data-wow-delay='100ms')
              a(href='')
                img(src='images/logo.png', alt='')
              .social-media
                a(href='')
                  i.fa.fa-facebook
                a(href='')
                  i.fa.fa-twitter
                a(href='')
                  i.fa.fa-linkedin
                a(href='')
                  i.fa.fa-google-plus
              p Copyright © 2017. All Rights Reserved.
