block append footer
    // footer-area
    section.footer-area.section-padd.overflow
      .container
        .row
          .col-md-12
            .footer-content.wow.fadeInUp(data-wow-delay='100ms')
              a(href='#home')
                img(src='https://prismic-io.s3.amazonaws.com/firstsightultrasound%2F276fa845-af5b-4d97-95b9-36ecac67dac4_apple-icon-60x60.png', alt='small logo')
              .social-media
                if data.social_media
                  for link in data.social_media
                    a(href=link.social_media_link.url, target='_blank')
                        if link.social_media_name === 'twitter'
                            i.fa.fa-twitter.fa-fw
                        else if link.social_media_name === 'instagram'
                            i.fa.fa-instagram.fa-fw
                        else if link.social_media_name === 'youtube'
                            i.fa.fa-youtube.fa-fw
                        else if link.social_media_name === 'pinterest'
                            i.fa.fa-pinterest.fa-fw
                        else if link.social_media_name === 'flickr'
                            i.fa.fa-flickr.fa-fw
                        else if link.social_media_name === 'tumblr'
                            i.fa.fa-tumblr.fa-fw
                        else if link.social_media_name === 'youtube'
                            i.fa.fa-youtube.fa-fw
                        else if link.social_media_name === 'vine'
                            i.fa.fa-vine.fa-fw
                        else if link.social_media_name === 'google'
                            i.fa.fa-google-plus.fa-fw
                        else if link.social_media_name === 'linkedin'
                            i.fa.fa-linkedin.fa-fw
                        else if link.social_media_name === 'facebook'
                            i.fa.fa-facebook.fa-fw
                        if link.social_media_diplay_name
                            span.network-name !{PrismicDOM.RichText.asHtml(link.social_media_diplay_name)}
              p Copyright &copy; 2017. All Rights Reserved.
