block append head
    link(href='vendor/jquery-ui/jquery-ui.min.css', rel='stylesheet')
    // plugin for owl carousel
    link(href='css/owl.carousel.min.css', rel='stylesheet')
    // font awesome icon
    link(href='css/font-awesome.min.css', rel='stylesheet')
    // font icon pe 
    link(href='css/pe-icon-7-stroke.css', rel='stylesheet')
    // bootstrap link
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // magnific-popup
    link(href='css/magnific-popup.css', rel='stylesheet')
    // animate css
    link(href='css/animate.css', rel='stylesheet')
    // css link
    link(href='css/style.css', rel='stylesheet')
