block append head
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='vendor/bootstrap/css/bootstrap-grid.min.css', rel='stylesheet')
    link(href='vendor/bootstrap/css/bootstrap-reboot.min.css', rel='stylesheet')
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Cabin:700', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='css/grayscale.min.css', rel='stylesheet')