doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name='keywords', content='' + data.seo_text)

        title !{PrismicDOM.RichText.asText(pageContent.data.title)}
        include  partials/styles.pug
        include  partials/scripts.pug

    body#page-top
        block content
        include partials/footer.pug